{embed="includes/main_header"}

{embed="includes/main_menu"}

      <!-- Begin page content -->
	  <header class="internal">
	  	<div class="container">
	  		<p class="pull-right">Experts in people</p>
	  		<img src="{site_url}img/logo-css-internal.png" alt="logo-css-internal" width="300" height="61" />
	  	</div>
	  </header>
	  {embed="pink_pages/pink_sub_menu"}
	  
      <div class="container">
		<div class="row">
		  <div class="col-xs-9">
			  <div class="row">
				  <article class="col-xs-8">

				  	{exp:channel:entries channel="blog" status="open|featured"}
				  	<h1 class="head-csspink">{title}</h1>
				  	<small>Posted: <strong>{entry_date format="%d%S %F %Y"}</strong> | Written by <strong>{author}</strong></small>
				  	<a href="https://twitter.com/share" class="twitter-share-button pull-right">Tweet</a>
				  	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				  	<div class="fb-share-button pull-right" data-href="{title_permalink='our-blog/view'}	" data-type="button_count"></div>
				  	<hr/>

				  	{blog_content}

				  	{/exp:channel:entries}

				  </article>

				  <div class="col-xs-4">
				  	<div class="well well-csslgrey">
				  			{exp:channel:entries channel="blog" status="open|featured" dynamic="no" limit="5"}
					  		<article class="blog-listing">
					  			<h2><a href="{title_permalink='our-blog/view'}">{title}</a></h2>
					  			<p>{exp:excerpt limit="50" indicator="..."}{blog_content}{/exp:excerpt}</p>
					  			<small><strong>Posted:</strong> {entry_date format="%d%S %F %Y"}</small>
					  			<a href="{title_permalink='our-blog/view'}" class="btn btn-csspink btn-xs pull-right">Read&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
					  		</article> 
					  		{/exp:channel:entries} 
				  	</div>
				  </div>
			  </div>

		  <!-- Right Column -->
		  </div>
		  <div class="col-xs-3">
				{embed="includes/inc_expertise_menu"}
			  	{embed="includes/inc_training_menu"}
		  </div>
		</div>
      </div>
    </div><!-- .wrap close -->

{embed="includes/main_footer"}