{embed="includes/main_header"}

{embed="includes/main_menu"}

      <!-- Begin page content -->
	  <header class="internal">
	  	<div class="container">
	  		<p class="pull-right">Experts in people</p>
	  		<img src="{site_url}img/logo-css-internal.png" alt="logo-css-internal" width="300" height="61" />
	  	</div>
	  </header>
	  {embed="green_pages/green_sub_menu"}
	  
      <div class="container">
		<div class="row">
		  <div class="col-xs-9">
			  <div class="row">
				  <div class="col-xs-9">
				  		{exp:zoo_visitor:details member_id="{segment_3}"}
				  		<h1 class="head-cssgreen">Profile of {screen_name}</h1>

				  		{if synopsis != ""}
				  		<p class="lead">{synopsis}</p>
				  		{if:else}
				  		<div class="alert alert-info">
				  			No Synopsis provided
				  		</div>
				  		{/if}

				  		<hr/>
				  		<p class="sub-head">User CV</p>
				  		<p><a href="{user_cv}"><?php echo array_pop(explode('/', '{user_cv}')); ?></a></p>

  						<hr/>
  						<p class="sub-head">Preferred industries</p>
					  	{categories category_id="1"}
						  	<p>{category_name}</p>
						{/categories}

				  		<div class="row">
				  			<div class="col-xs-6"> 
				  				<h3>Contact info:</h3>

				  				{if hide_contact_details != "Yes"}
					  				{if address_line_1 != "" }{address_line_1}<br/>{/if}
					  				{if address_line_2 != "" }{address_line_2}<br/>{/if}
					  				{if town_city != "" }{town_city}<br/>{/if}
					  				{if county_region != "" }{county_region}<br/>{/if}
					  				{if post_zip_code != "" }{post_zip_code}<br/>{/if}
					  				{if country != "" }{country}{/if}

					  				{if home_phone && mobile_number != ""}
						  				<h4>Contact Numbers</h4>
						  				{if home_phone != "" }<strong>Tel:</strong> {home_phone}{/if}
						  				{if mobile_number != "" }<strong>Mob:</strong> {mobile_number}{/if}
					  				{/if}

				  				{if:else}
				  				<p>User has choosen to hide details</p>

				  				{/if}
				  				<br/><br/>
				  				<a class="btn btn-cssgrey btn-block" href="mailto:{email}"><span class="glyphicon glyphicon-envelope pull-right"></span>Email {author} </a>


				  			</div>
				  			<div class="col-xs-6">
				  				<h3>Employment Status:</h3>
				  				<table class="table">
				  					{if nationality != "" }
				  					<tr>
				  						<td>Nationality</td>
				  						<td align="right">{nationality}</td>
				  					</tr>
				  					{/if}
				  					<tr>
				  						<td>Eligible to work in UK</td>
				  						<td align="right">{if eligible_to_work_in_uk == "Yes" }<span style="color: green;" class="glyphicon glyphicon-ok"></span>{if:else}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{/if}</td>
				  					</tr>
				  					<tr>
				  						<td>Are they willing to relocate</td>
				  						<td align="right">{if are_you_willing_to_relocate == "Yes" }<span style="color: green;" class="glyphicon glyphicon-ok"></span>{if:else}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{/if}</td>
				  					</tr>
				  					<tr>
				  						<td>Do they hold a valid Driving Licence</td>
				  						<td align="right">{if driving_licence == "Yes" }<span style="color: green;" class="glyphicon glyphicon-ok"></span>{if:else}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{/if}</td>
				  					</tr>
				  					<tr>
				  						<td>Own transport</td>
				  						<td align="right">{if own_transport == "Yes" }<span style="color: green;" class="glyphicon glyphicon-ok"></span>{if:else}<span style="color: red;" class="glyphicon glyphicon-remove"></span>{/if}</td>
				  					</tr>
				  					<tr>
				  						<td>Preferred contract type</td>
				  						<td align="right">{contract_type}</td>
				  					</tr>
				  				</table>

  							</div>
  						</div>

		  		  		{/exp:zoo_visitor:details}

				  </div>
				  <div class="col-xs-3 column-padding">

				  	{embed="includes/inc_job_staff_menu"}
				  </div>
				  
			  </div>

		  <!-- Right Column -->
		  </div>
		  <div class="col-xs-3">
			  {embed="includes/inc_job_menu"}
			  {embed="includes/inc_expertise_menu"}
		  </div>
		</div>
      </div>
    </div><!-- .wrap close -->

{embed="includes/main_footer"}