{embed="includes/main_header"}

{embed="includes/main_menu"}

<!-- Begin page content -->
<header class="internal">
	<div class="container">
		<p class="pull-right">Experts in people</p>
		<img src="{site_url}img/logo-css-internal.png" alt="logo-css-internal" width="300" height="61" />
	</div>
</header>
{embed="green_pages/green_sub_menu"}

<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<div class="row">
				<div class="col-xs-9">
					<h1 class="head-cssgreen">Update your password</h1>

					{exp:zoo_visitor:update_form class="form-horizontal" return="job-seekers/profile-password"}

					<fieldset>
						<legend>Account Settings:</legend>

						<div class="form-group">
							<label for="current_password" class="col-sm-3">Current Password</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" id="current_password" name="current_password" placeholder="Current Password" />
								{error:current_password}
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="col-sm-3">New Password</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" />
								<span class="help-block">5 characters or more</span>
								{error:new_password}
							</div>
						</div>

						<div class="form-group">
							<label for="confirm-password" class="col-sm-3">Confirm Password</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" id="new_password_confirm" name="new_password_confirm" placeholder="Confirm Password" />
								{error:new_password_confirm}
							</div>
						</div>

					</fieldset>				  			  
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-cssgreen pull-right">Update Profile</button>
						</div>
					</div>

					{/exp:zoo_visitor:update_form}
				</div>
				<div class="col-xs-3 column-padding">

					{embed="includes/inc_job_seekers_menu"}
				</div>

			</div>

			<!-- Right Column -->
		</div>
		<div class="col-xs-3">
			{embed="includes/inc_expertise_menu"}
			{embed="includes/inc_job_menu"}
		</div>
	</div>
</div>
</div><!-- .wrap close -->

{embed="includes/main_footer"}