					<a class="btn btn-cssgreen btn-block" href="{path='job-staff/'}"><span class="glyphicon glyphicon-home pull-right"></span>Recruiters home</a>
					<a class="btn btn-cssgreen btn-block" href="{path='job-staff/job-applications'}"><span class="glyphicon glyphicon-folder-open pull-right"></span>View job applications</a>
					<a class="btn btn-cssgreen btn-block" href="{path='job-staff/search'}"><span class="glyphicon glyphicon-folder-open pull-right"></span>Search Applicants</a>
				  	<a class="btn btn-cssgreen btn-block" href="{path='admin.php'}"><span class="glyphicon glyphicon-list pull-right"></span>Access EE control panel</a>
