				  	<a class="btn btn-cssgreen btn-block" href="{path='job-seekers/profile'}"><span class="glyphicon glyphicon-user pull-right"></span>Profile Summary</a>
				  	<a class="btn btn-cssgreen btn-block" href="{path='job-seekers/profile-edit'}"><span class="glyphicon glyphicon-edit pull-right"></span>Update your profile</a>
				  	<a class="btn btn-cssgreen btn-block" href="{path='job-seekers/upload-cv'}"><span class="glyphicon glyphicon-open pull-right"></span>Upload a CV</a>
{!-- 				  	<a class="btn btn-cssgreen btn-block" href="{path='job-seekers/job-search'}"><span class="glyphicon glyphicon-envelope pull-right"></span>Manage job subscriptions</a>
 --}				  	<a class="btn btn-cssgreen btn-block" href="{path='job-seekers/job-applications'}"><span class="glyphicon glyphicon-folder-open pull-right"></span>View job applications</a>
				  	<a class="btn btn-cssgreen btn-block" href="{path='job-seekers/job-wishlist'}"><span class="glyphicon glyphicon-list pull-right"></span>Manage job wishlist</a>

{!-- 				  	<a class="btn btn-cssgreen btn-block" href="#"><span class="glyphicon glyphicon-user pull-right"></span>Profile Summary</a>
				  	<a class="btn btn-cssgreen btn-block" href="#"><span class="glyphicon glyphicon-edit pull-right"></span>Update your profile</a>
				  	<a class="btn btn-cssgreen btn-block" href="#"><span class="glyphicon glyphicon-open pull-right"></span>Upload a CV</a>
				  	<a class="btn btn-cssgreen btn-block" href="#"><span class="glyphicon glyphicon-envelope pull-right"></span>Manage job subscriptions</a>
				  	<a class="btn btn-cssgreen btn-block" href="#"><span class="glyphicon glyphicon-folder-open pull-right"></span>View job applications</a>
				  	<a class="btn btn-cssgreen btn-block" href="#"><span class="glyphicon glyphicon-list pull-right"></span>Manage job wishlist</a> --}