{embed="includes/main_header"}

{embed="includes/main_menu"}

      <!-- Begin page content -->
	  <header class="internal">
	  	<div class="container">
	  		<p class="pull-right">Experts in people</p>
	  		<img src="{site_url}img/logo-css-internal.png" alt="logo-css-internal" width="300" height="61" />
	  	</div>
	  </header>
	  {embed="green_pages/green_sub_menu"}
	  
      <div class="container">
		<div class="row">
		  <div class="col-xs-9">
			  <div class="row">
				  <div class="col-xs-9">
					{exp:channel:entries}
				  		<h1 class="head-cssgreen">{title}</h1>
				  		{content}
					{/exp:channel:entries}
				  </div>
			  </div>


		  <!-- Right Column -->
		  </div>
		  <div class="col-xs-3">
			  {embed="includes/inc_expertise_menu"}
			  {embed="includes/inc_job_menu"}
		  </div>
		</div>
      </div>
    </div><!-- .wrap close -->

{embed="includes/main_footer"}