{embed="includes/main_header"}

{embed="includes/main_menu"}

      <!-- Begin page content -->
	  <header class="internal">
	  	<div class="container">
	  		<p class="pull-right">Experts in people</p>
	  		<img src="{site_url}img/logo-css-internal.png" alt="logo-css-internal" width="300" height="61" />
	  	</div>
	  </header>
	  {embed="pink_pages/pink_sub_menu"}
	  
      <div class="container">
		<div class="row">
		  <div class="col-xs-9">
			  <div class="row">
				  <div class="col-xs-12">

					<div class="well well-csspink">
					    <div class="row">
					    	<div class="col-xs-7">
					    	<h2><span class="label label-default">Featured Blog</span></h2>
					  	<h1>Questions over recruitment of ex-chair at Co-op Group</h1>
					    <p>The chair of The Co-operative Group has resigned over embarrassing allegations about the behaviour of Paul Flowers, the former chair of The Co-operative Bank, who he helped recruit.</p>
					  			<a href="blog-view.php" class="btn btn-csspink btn-xs pull-right">Read&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
					    	</div>
					    	<div class="col-xs-5">
								<img src="http://lorempixel.com/266/230/business" class="img-responsive img-rounded pull-right">
					    	</div>
					    </div>
					</div>
					
				  	<div class="row">
				  		<div class="col-xs-6">
					  		<article class="blog-listing">
					  			<h2><a href="#">Questions over recruitment of ex-chair at Co-op Group</a></h2>
					  			<p>The chair of The Co-operative Group has resigned over embarrassing allegations about the behaviour of Paul Flowers, the former chair of The Co-operative Bank, who he helped recruit.</p>
					  			<small><strong>Posted:</strong> 22nd November 2013</small>
					  			<a href="blog-view.php" class="btn btn-csspink btn-xs pull-right">Read&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
					  		</article> 
				  		</div>
				  		<div class="col-xs-6">
					  		<article class="blog-listing">
					  			<h2><a href="#">Questions over recruitment of ex-chair at Co-op Group</a></h2>
					  			<p>The chair of The Co-operative Group has resigned over embarrassing allegations about the behaviour of Paul Flowers, the former chair of The Co-operative Bank, who he helped recruit.</p>
					  			<small><strong>Posted:</strong> 22nd November 2013</small>
					  			<a href="blog-view.php" class="btn btn-csspink btn-xs pull-right">Read&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
					  		</article> 
				  		</div>
				  	</div>
				  	<div class="row">
				  		<div class="col-xs-6">
					  		<article class="blog-listing">
					  			<h2><a href="#">Questions over recruitment of ex-chair at Co-op Group</a></h2>
					  			<p>The chair of The Co-operative Group has resigned over embarrassing allegations about the behaviour of Paul Flowers, the former chair of The Co-operative Bank, who he helped recruit.</p>
					  			<small><strong>Posted:</strong> 22nd November 2013</small>
					  			<a href="blog-view.php" class="btn btn-csspink btn-xs pull-right">Read&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
					  		</article> 
				  		</div>
				  		<div class="col-xs-6">
					  		<article class="blog-listing">
					  			<h2><a href="#">Questions over recruitment of ex-chair at Co-op Group</a></h2>
					  			<p>The chair of The Co-operative Group has resigned over embarrassing allegations about the behaviour of Paul Flowers, the former chair of The Co-operative Bank, who he helped recruit.</p>
					  			<small><strong>Posted:</strong> 22nd November 2013</small>
					  			<a href="blog-view.php" class="btn btn-csspink btn-xs pull-right">Read&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
					  		</article> 
				  		</div>
				  	</div>
				  	<div class="row">
				  		<div class="col-xs-6">
					  		<article class="blog-listing">
					  			<h2><a href="#">Questions over recruitment of ex-chair at Co-op Group</a></h2>
					  			<p>The chair of The Co-operative Group has resigned over embarrassing allegations about the behaviour of Paul Flowers, the former chair of The Co-operative Bank, who he helped recruit.</p>
					  			<small><strong>Posted:</strong> 22nd November 2013</small>
					  			<a href="blog-view.php" class="btn btn-csspink btn-xs pull-right">Read&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
					  		</article> 
				  		</div>
				  		<div class="col-xs-6">
					  		<article class="blog-listing">
					  			<h2><a href="#">Questions over recruitment of ex-chair at Co-op Group</a></h2>
					  			<p>The chair of The Co-operative Group has resigned over embarrassing allegations about the behaviour of Paul Flowers, the former chair of The Co-operative Bank, who he helped recruit.</p>
					  			<small><strong>Posted:</strong> 22nd November 2013</small>
					  			<a href="blog-view.php" class="btn btn-csspink btn-xs pull-right">Read&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
					  		</article> 
				  		</div>
				  	</div>
				  	<div class="row">
				  		<div class="col-xs-6">
					  		<article class="blog-listing">
					  			<h2><a href="#">Questions over recruitment of ex-chair at Co-op Group</a></h2>
					  			<p>The chair of The Co-operative Group has resigned over embarrassing allegations about the behaviour of Paul Flowers, the former chair of The Co-operative Bank, who he helped recruit.</p>
					  			<small><strong>Posted:</strong> 22nd November 2013</small>
					  			<a href="blog-view.php" class="btn btn-csspink btn-xs pull-right">Read&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
					  		</article> 
				  		</div>
				  		<div class="col-xs-6">
					  		<article class="blog-listing">
					  			<h2><a href="#">Questions over recruitment of ex-chair at Co-op Group</a></h2>
					  			<p>The chair of The Co-operative Group has resigned over embarrassing allegations about the behaviour of Paul Flowers, the former chair of The Co-operative Bank, who he helped recruit.</p>
					  			<small><strong>Posted:</strong> 22nd November 2013</small>
					  			<a href="blog-view.php" class="btn btn-csspink btn-xs pull-right">Read&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
					  		</article> 
				  		</div>
				  	</div>

					<ul class="pagination csspagipink">
					  <li><a href="#">&laquo;</a></li>
					  <li class="active"><a href="#">1</a></li>
					  <li><a href="#">2</a></li>
					  <li><a href="#">3</a></li>
					  <li><a href="#">4</a></li>
					  <li><a href="#">5</a></li>
					  <li><a href="#">&raquo;</a></li>
					</ul>

				  </div>
			  </div>


		  <!-- Right Column -->
		  </div>
		  <div class="col-xs-3">
			  {embed="includes/inc_job_menu"}
			  {embed="includes/inc_expertise_menu"}
		  </div>
		</div>
      </div>
    </div><!-- .wrap close -->

{embed="includes/main_footer"}